<h1>About Us</h1>
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">We are growing car dealer company, you can find a great variety of different types and brands of cars!</h5>
    <h5 class="card-title">We accept any kind of pay as! </h5>
  </div>

</div>
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Contact Us</h5>
    <h6 class="card-subtitle mb-2 text-muted">Fax: 013 658 5478</h6>
    <h6 class="card-subtitle mb-2 text-muted">Tel: 013 658 9378</h6>
    <p class="card-text">If you have any questions or need help don`t hasitate to connect us. </p>
  </div>

</div>
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Support</h5>
    <h6 class="card-subtitle mb-2 text-muted">Tel: 013 658 9378</h6>
    <p class="card-text">Problem solving line</p>
  </div>

</div>
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Location</h5>
    <h6 class="card-subtitle mb-2 text-muted">WA2 2PT</h6>
    <h6 class="card-subtitle mb-2 text-muted">Warrington</h6>
    <a href="https://www.googlemaps.com">Visit Map</a>
  </div>

</div>