<h2>Add new Member</h2>
<form method="POST" action="create">
    <div class="form-group">
        <label for="name">Member Name</label>
        <input type="text" class="form-control" name="name" aria-describedby="emailHelp">
      </div>
    <div class="form-group">
        <label for="emil">Email address</label>
        <input type="email" class="form-control"  name="email" aria-describedby="emailHelp">
      </div>
    <button class="btn btn-primary">Add Member</button>
    
</form>