<h2>Add New Member</h2>

<form method="POST" action="create_car">
    <div class="form-group">
        <label for="name">Member Name</label>
        <input type="text" class="form-control" name="name">
      </div>
    <div class="form-group">
        <label for="emil">Email address</label>
        <input type="email" class="form-control"  name="email">
      </div>
    <button class="btn btn-primary">Add Member</button>

</form>
