<h1>Welcome to the home page of Winning Car Auction</h1>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Sell or Buy </h5>
    <h6 class="card-subtitle mb-2 text-muted">Any Motor Vehicle</h6>
    <p class="card-text"> Just Join Our Auction</p>
    <a class="card-link btn btn-primary" href="./login">Log In</a>
    <a class="card-link btn btn-primary"  href="./register">New Member</a>
  </div>
</div>